<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Array List</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/lib/html5bp.css">
  <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
  <link rel="stylesheet" href="/css/lib/dt-bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="js/lib/modernizr-2.5.3.js"></script>
</head>
<body>
<div class="container">
  <h1>Input Versions: <%= input_name %> </h1>
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/accounts/<%= account[:id] %>/"><%= account[:name] %></a></li>
    <li><a href="/accounts/<%= account[:id] %>/arrays/<%= array.array_id %>/"><%= array.array_name %></a></li>
    <li class="active"><%= input_name %></li>
  </ol>
  <table class="table table-striped table-bordered table-hover list-table">
    <thead>
	    <tr>
	      <th>Input Version</th>
	      <th>Input Type</th>
          <th>Input Value</th>
          <th>Retrieved</th>
	    </tr>
    </thead>
    <tbody>
    <% versions.each do |version| %>
      <tr>
        <td><%= version.version %></td>
        <td> <%= version.input_value.split(':')[0] %></td>
        <td><%= version.input_value.split(':')[1] %></td>
        <td><%= version.created_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <a href="/report/<%= input_name %>/" class="btn btn-info">Audit All Values</a>
</div>
<!-- /container -->

<script src="/js/lib/jquery-1.7.1.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/lib/datatables.js"></script>
<script src="/js/lib/dtBootstrap.js"></script>
<script src="/app.js"></script>
</body>
</html>
